.header{
    margin-top: 10px;
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1{
    text-align: left;
    color: aqua;
    margin-left: 15px;
    background-color: transparent;
}
.header-icons {
    
}