.edit-student{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.edit-student-container{
    place-self: center;
    width: max(23vw,500px);  
    color: #808080; 
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
   padding: 25px 30px;
   border-radius: 8px;
   font-size: 14px;
   animation: fadeIn 0.7s;
}

.form-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.edit-student-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-student-input input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.edit-student-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #047777;
    font-size: 15px;
    cursor: pointer;
}

.edit-student-input .gender-buttons{
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}