
.home {
    width: 100%;
    height: 100vh;
    background-image: url(home.jpg);
    background-size: cover;

}

.button-section {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30vh;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin: 50px;
    padding: 35px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;

  }
  .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .btn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #00ffd5e3, #00ffd5e3, #00ffd5e3, #00ffd5e3,
      #00ffd5e3, #00ffd5e3, #00ffd5e3, #00ffd5e3
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    /* animation: glowing 20s linear infinite; */
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .btn:hover::before {
    opacity: 1;
  }
  
  .btn:active:after {
    background: transparent;
  }
  
  .btn:active {
    color: #000;
    font-weight: bold;
  }