.view-students{
    width: 100%;
    height: 100%;
    background-color: white;
    align-items: center;
}
.view-students-container{
    place-self: center;
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 10px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    width: 95%;
}
.form-title{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 100%;
    font-size: 16px;
}




.form-title img{
    width: 20px;
    cursor: pointer;
}
.table img{
    width: 25px;
    height: 25px;
}
.table{
    margin-top: 20px;
    place-self: center;
    text-align: center;
    padding: 15px;
    padding-top: 5px;
    overflow-x: auto !important;
    /* background-color: red; */
    max-width: 90vw;

}

.table th, td {
    border-bottom: 1px solid #ddd;
  }

.table th{
    padding:20px;
    font-weight: 800;

}

.table img {
    padding: 5px;
}

.add-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    
  }
 
  .add-button img{
    cursor: pointer;
  }

  .swal-popup {
    max-width: 400px; 
  }

  @media (max-width:768px) {
        .view-students-container{
            width: 90%;
            padding: 5px;
            font-size: 12px;
        }
        .form-title{
            font-size: 14px !important;
        }
        .table{
            padding: 10px;
            font-size: 12px;
        }
        .table th, .table td{
            padding: 8px;

        }
        .table img {
            width: 20px;
            height: 20px;
        }
        .add-button {
            bottom: 30px;
            right: 30px;
        }
        .custom-swal-popup {
            width: 60vw;

          }
          .swal-responsive-title {
            font-size: 1.2rem; 
          }
          
          .swal-responsive-text {
            font-size: 1rem;
          }
          
          .swal-responsive-button {
            padding: 8px 12px;
            font-size: 0.9rem;
          }  
    
  }
  @media (max-width:480px) {
    .view-students-container{
        padding: 5px;
        font-size: 11px;
    }
    .form-title{
        font-size: 14px;
    }
    .table{
        font-size: 10px;
    }
    .table th, .table td {
        padding: 6px;
    } 
    .table img {
        width: 18px;
        height: 18px;
    }
    .custom-swal-popup {
        width: 40vw;
        height: 40vw;

      }
    
  }

